<div class="container">
    <h1>Remove Meeting Room</h1>
   
    <!-- Phase and Floor Dropdowns -->
    <div class="dropdowns">
      <label for="phase">Select Phase:</label>
      <select id="phase" (change)="onPhaseChange($event)">
        <option value="">--Select Phase--</option>
        <option *ngFor="let phase of phases" [value]="phase.id">{{ phase.name }}</option>
      </select>
   
      <label for="floor">Select Floor:</label>
      <select id="floor" (change)="onFloorChange($event)" [disabled]="!selectedPhase">
        <option value="">--Select Floor--</option>
        <option *ngFor="let floor of floors" [value]="floor.id">{{ floor.name }}</option>
      </select>
    </div>
   
    <!-- Button to fetch available rooms -->
    <button class="button" (click)="fetchAvailableRooms()">Available Rooms</button>
    <div *ngIf="meetingRooms.length >0">
      <label for="room">Select Room:</label>
      <select id="room"  [(ngModel)]="room">
        <option value="">--Select Room--</option>
        <option *ngFor="let meetRoom of meetingRooms" [value]="meetRoom.roomNo">{{ meetRoom.roomNo }}</option>
      </select>
      <button class="button" (click)="removeRoom()">Remove</button>
  </div>
  <div *ngIf="mes">
    <p>{{ mes }}</p>
    </div>
   